*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dfdada;
}

#form{
    display: flex;
background-color: #fff;
flex-direction: column;
padding: 2rem;
border-radius: 8px;
}
#add{
    background-color: #dfdada;
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 3.5rem;
}
input{
    background-color: #dfdada;
    width: 25rem;
    height: 3rem;
    border-radius: 3px;
    border: none;
}

button{
    height: 3rem;
    width: 3rem;
    border-radius: 3px;
    border: none;
   
    
}
#tasklist{
justify-content: center;
align-items: center;
   display: flex;
   background-color: #ddd5d5;
   margin: 15px;
  border-radius: 7px;
  width: 25rem;
  height: 4rem;
  max-width: 100%;
margin-right: 50px;


    
}
#check{
    background-color:#dfdada;
    border-radius: 15px;
    border: none;
    padding: 3px;
    margin-left: 210px;
   
}

#edit{
    color: white;
    background-color: blue;
    border-radius: 15px;
    border: none;
    padding: 3px;
    margin: 5px;
    height: 40px;
   
}
#delete{
    color: white;
    background-color: red;
    border-radius: 15px;
    border: none;
    padding: 3px;
    margin: 5px;
    height: 40px;
    
}